@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	padding: 0;
}

body {
	/* background-color: #191410;*/
	/*color: #fff;*/
	overflow-x: hidden;
}

#footer-list {
	list-style-type: none;
}

.characterImage {
	width: 256px;
}

.alert
{
	@apply flex items-center border-t-4 p-4 mx-44 my-4 rounded-lg
}

.alert-danger
{
	@apply text-red-800 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800
}

.alert-info
{
	@apply text-blue-800 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800
}

.alert-success
{
	@apply text-green-800 border-green-300 bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800
}

.text
{
	@apply dark:text-white
}

.button
{
	@apply text-white font-medium rounded-lg text-sm px-2 py-2.5 focus:outline-none text-center
}

.button-large
{
	@apply text-white font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none text-center
}

.green-button
{
	@apply bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:hover:bg-green-700 dark:focus:ring-green-800
}

.blue-button
{
	@apply bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.card
{
	@apply bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8
}

.link
{
	@apply text-blue-600 dark:text-blue-500 hover:underline
}


/** TextEditor WYSIWYG **/
.headerButtonTE {
	@apply p-1.5 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600
}

@layer base {
	#wysiwyg div ul {
		@apply pl-1.5 list-disc list-outside
	}

	#wysiwyg div ol {
		@apply pl-1.5 list-decimal list-outside
	}

	#wysiwyg {
		blockquote {
			border-left: 3px solid #CCC;
			margin: 0.5rem 0;
			padding-left: 1rem;
		}

		h1, h2, h3, h4, h5, h6 {
			line-height: 1.1;
			margin-top: 2.5rem;
			text-wrap: pretty;
		}
		h1, h2 {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}

		h1 {
			font-size: 1.4rem;
		}

		h2 {
			font-size: 1.2rem;
		}

		h3 {
			font-size: 1.1rem;
		}

		h4, h5, h6 {
			font-size: 1rem;
		}

		.is-empty:first-child::before {
			color: #CCC;
			content: attr(data-placeholder);
			float: left;
			height: 0;
			pointer-events: none;
		}
	}
}