:root {
	--background: #4d371d;
	--color: #ffffff;
	--primary-color: #15110d;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "poppins";
	background-size: cover;
	background-image: url(/public/images/kamehouse.png);
	background-repeat: no-repeat;
	color: var(--color);
	letter-spacing: 1px;
}

h1 {
	font-size: 2.5rem;
}

.fullscreen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.body {
	background-color: rgba(77, 55, 29, 0.75);
	position: relative;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dragon {
	margin: 0 auto;
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}

.create-container {
	min-width: 300px;
	position: relative;
	background-color: #C57616;
	margin: auto;
}

.form-container {
	border: 1px solid hsla(0, 0%, 65%, 0.158);
	box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	backdrop-filter: blur(20px);
	z-index: 99;
	padding: 2rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.form-container form {
	width: 400px;
	margin: 0 auto;
}

.create-container form input {
	display: block;
	padding: 14px;
	width: 100%;
	margin: 1.5rem 0;
	color: var(--color);
	outline: none;
	background-color: #2725251f;
	border: none;
	border-radius: 5px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 15px;
	backdrop-filter: blur(15px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.create-container form input:focus {
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
	animation: wobble 0.3s ease-in;
	-webkit-animation: wobble 0.3s ease-in;
}

.create-container form select {
	display: block;
	padding: 14px;
	width: 100%;
	margin: 1.5rem 0;
	color: var(--color);
	outline: none;
	background-color: #2725251f;
	border: none;
	border-radius: 5px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 15px;
	backdrop-filter: blur(15px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.create-container form button {
	background-color: var(--primary-color);
	color: var(--color);
	display: block;
	padding: 13px;
	border-radius: 5px;
	outline: none;
	font-size: 18px;
	letter-spacing: 1.5px;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
	margin-bottom: 2rem;
	transition: all 0.1s ease-in-out;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}

.create-container form button:hover {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	transform: scale(1.02);
	-ms-transform: scale(1.02);
}

.circle {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: absolute;
}

.circle-one {
	top: 0;
	left: 0;
	z-index: -1;
	transform: translate(-45%, -45%);
}

.circle-two {
	bottom: 0;
	right: 0;
	z-index: -1;
	transform: translate(45%, 45%);
}

.characters{
	width: 25%;
}


.opacity {
	opacity: 0.7;
	text-align: center;
}