#titles {
	padding-top: 30px;
}

h2 {
	position: relative;
	text-align: center;
}

#large-text {
	min-width: 900px;
	max-width: 1000px;
}

.card {
	min-width: 400px;
	max-width: 500px;
	color: #15110d;
}