{% extends "base.twig" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">
		<h1 class="text-gray-500 dark:text-white text-4xl font-bold mb-10">Mentions légales</h1>

		<h2 class="text-gray-500 dark:text-white text-2xl font-bold mb-5">I. Propriété intellectuelle</h2>
		<p class="text-gray-500 dark:text-white mb-8">
			Le site web GuildMasters est la propriété de Brian VERCHERE.
			Tous les droits d'auteur, marques déposées et brevets liés au site web et à son contenu sont réservés.
		</p>

		<h2 class="text-gray-500 dark:text-white text-2xl font-bold mb-5">II. Conditions d'utilisation</h2>
		<p class="text-gray-500 dark:text-white mb-8">
			Le site web GuildMasters est mis à disposition des utilisateurs pour leur usage personnel et non commercial.
			Les utilisateurs s'engagent à ne pas utiliser le site web à des fins illicites ou pour porter atteinte aux droits des tiers.
			Les utilisateurs sont responsables de la confidentialité de leurs informations de connexion et de leur mot de passe.
		</p>

		<h2 class="text-gray-500 dark:text-white text-2xl font-bold mb-5">III. Responsabilité</h2>
		<p class="text-gray-500 dark:text-white mb-8">
			Brian VERCHERE ne peut être tenu responsable des dommages ou pertes résultant de l'utilisation du site web.
			Le site web GuildMasters est fourni "en l'état" et sans garantie d'aucune sorte.
		</p>

		<h2 class="text-gray-500 dark:text-white text-2xl font-bold mb-5">IV. Hébergement</h2>
		<p class="text-gray-500 dark:text-white mb-8">
			Le site web GuildMasters est hébergé par la société OctoGency SARL. <br><br>
			<strong>Raison sociale :</strong> WebStrator <br>
			<strong>Contact :</strong> contact@webstrator.com <br>
			<strong>Siège social :</strong> Lieu-dit En Roc - 81100 Castres
		</p>

		<h2 class="text-gray-500 dark:text-white text-2xl font-bold mb-5">V. Loi applicable et juridiction</h2>
		<p class="text-gray-500 dark:text-white mb-8">
			Les présentes mentions légales sont régies par les lois de France.
			Tout litige relatif à l'utilisation du site web GuildMasters sera soumis à la juridiction compétente de France.
		</p>

		<h2 class="text-gray-500 dark:text-white text-2xl font-bold mb-5">VI. Mise à jour</h2>
		<p class="text-gray-500 dark:text-white mb-8">
			Les présentes mentions légales peuvent être mises à jour à tout moment sans préavis.
			Les utilisateurs sont invités à consulter régulièrement les mentions légales pour prendre connaissance des modifications.
		</p>

		<p class="italic text-gray-500 dark:text-white">Dernière mise à jour: le 30/06/2024</p>
	</div>
{% endblock %}