{% extends 'base.twig' %}

{% import "./macros/functionaltities.twig" as adminFunc %}

{% block title %} Guild Masters {% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/public/css/main.css">
{% endblock %}

{% block body %}
	<div id="titles" class="container">
		<div class="d-flex justify-content-center">
			<div>
				<h1>Bienvenue sur GuildMasters !</h1>
				<h2>L'outil de gestion de guilde Dragon Ball Legends.</h2>
			</div>
		</div>
	</div>

	{{ parent() }}

	<div class="justify-content-start ms-3 mt-5">
		<h3 class="text-start">Présentation de GuildMasters</h3>
		<div id="large-text" class="mt-4 ms-5">
			<p class="text-start">GuildMasters est un outil de gestion de guilde pour le jeu mobile Dragon Ball Legends.
				L'objectif de cet outil est d'améliorer l'expérience des guildes en proposant des fonctionnalités de gestion
				et de communication.
			</p>
		</div>
	</div>

	<div class="row justify-content-start ms-3 mt-5">
		<h3 class="text-start">Fonctionnalités</h3>
		<div class="functionalities row justify-content-center">
			{% if user is not null %}
				{{ adminFunc.displayFunctionalities(user.getRole()) }}
			{% else %}
				{{ adminFunc.displayFunctionalities("MEMBER") }}
			{% endif %}
		</div>
	</div>

	<div class="row justify-content-start mt-5 ms-3">
		<h3>Contact</h3>
		<div class="ms-5 mt-4">
			<p class="text-start">
				Veuillez noter que la création de guilde n'est pas disponible directement lors de l'inscription. Pour créer une guilde, veuillez suivre ces étapes :
				<br>
				<br>
				- <strong>Envoyez une demande par e-mail à l'adresse suivante</strong> : guildmasters@guildmasters.go.yo.fr <br>
				- <strong>Dans votre e-mail, veuillez spécifier le nom de la guilde que vous souhaitez créer.</strong><br>
				- <strong>Joignez une capture d'écran prouvant votre appartenance à la guilde (si applicable).</strong><br>
				- <strong>Incluez également le pseudo de votre compte sur notre site.</strong> <br><br>
				Une fois que nous aurons reçu votre demande, notre équipe la traitera dans les plus brefs délais.
				Nous vous remercions de votre compréhension et de votre coopération. <br>
			</p>
		</div>
	</div>
{% endblock %}